.background {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: -1;

  img {
    width: 50%;
    height: 100vh;
    object-fit: cover;
  }
}

.content {
  padding: 0 104px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 134px;
}

.banner {
  background: var(--clr-white);
  border-radius: 16px;
  padding: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;
}

.travel {
  width: calc(50% - 24px);
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.backButton {
  position: fixed;
  top: 40px;
  left: 88px;
  display: flex;
  color: white;
  gap: 10px;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.goButton {
  min-height: 58px;
  min-width: 81px;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  background: var(--clr-orange);
  color: white;
  border: 0px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
}

.airportCountry {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  color: white;

  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin: 50px;
  padding: 50px;
}

.airportName {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  color: white;

  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  height: 30px;
  max-height: 30px;
}

.airportDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 0px;
  color: white;
  white-space: nowrap;

  h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0px;
    text-transform: uppercase;
  }

  p {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  gap: 44px;
  margin-bottom: 178px;
}

.flightImage {
  width: "100px";
}

.bannerAirportName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 0px;
  color: black;
  white-space: nowrap;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0px;
}

.summary {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 27px;

  span {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    height: 66px;
    padding-right: 24px;
    border-right: 1px solid var(--clr-light-grey);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(71, 67, 78, 0.4) 2.19%, rgba(71, 67, 78, 0.1) 44.38%, rgba(71, 67, 78, 0) 100%);
  opacity: 0.5;
}

.layoverGroup {
  position: relative;
  width: 100%;
  max-width: 462px;
  padding-top: 7px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  padding-left: 24px;
  padding-right: 24px;

  span {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
  }

  .layoverNames {
    width: 100%;
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .layoverPlaceholder {
      width: 16px;
      height: 30px;
    }

  }
}